/* здесь используйте глобальные переменные */

$color-black: #000000;
$color-gray: #444444;
$color-white: #ffffff;
$color-green: #68b738;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
