.additionally {
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.additionally__container {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 0 50px;
  }
}

.additionally__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    border: 1px solid #cdcdcd;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    display: flex;
    border: unset;
    border-top: 1px solid #cdcdcd;
  }
}

.additionally__item {
  border-top: 1px solid #cdcdcd;
  padding-bottom: 10px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    border-top: unset;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 9px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.additionally__title {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-right: 50px;
  padding-bottom: 24px;
  width: fit-content;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    font-size: 42px;
    line-height: 1;
    border-top: unset;
    padding-bottom: 85px;
  }
}

.additionally__title::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 2px;
  background-color: #68b738;
  bottom: 32px;
  left: 100%;

  @media (min-width: $tablet-width) {
    bottom: 101px;
    right: 100%;
  }
}

.additionally__title::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 2px;
  background-color: #68b738;
  bottom: 32px;
  right: calc(100% + 50px);

  @media (min-width: $tablet-width) {
    bottom: 101px;
    right: 100%;
  }
}

.additionally__btn-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  grid-column: span 2;
}

.additionally__btn-text:hover {
  background-color: #5eaa2f;
}

.additionally__btn-text:active {
  opacity: 0.3;
}

.additionally__btn {
  grid-column: span 2;
  min-width: 280px;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    width: 140px;
  }
}

.additionally__btn:hover {
  background-color: #5eaa2f;
}

.additionally__icon {
  display: flex;
  width: 80px;
  height: 83px;
}

.additionally__promotion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/background-additionally-green.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #68b738;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  gap: 48px 0;
  padding: 0;
  padding-top: 54px;
  padding-bottom: 43px;
  margin: 0;
  margin-top: 43px;

  @media (min-width: $tablet-width) {
    text-align: start;
    margin-top: 71px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    text-align: center;
  }
}

.additionally__promotion-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px 0;
  max-width: 190px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    min-width: 666px;
    gap: 0 50px;
    margin-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px 0;
    max-width: 190px;
    min-width: 245px;
  }
}

.additionally__promotion-text::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#icon-present");
  width: 78px;
  height: 80px;
}
