.additionally {
  list-style: none;
}

.additionally__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.additionally__title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-top: 25px;
}

.additionally__title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border: 2px solid #68b738;
  bottom: 13px;
  right: -260px;
}

.additionally__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.additionally_btn {
  min-width: 280px;
}

.additionally_wrapper {
  margin: 0;
  padding: 0;
  padding-top: 54px;
}

.additionally__promotion {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-top: 189px;
  padding-left: 58px;
  padding-right: 61px;
  min-width: 280px;
  height: 290px;
  background-image: url("/images/background-additionally-green.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 280px 290px, cover;
}
