.costs__title,
.costs__content {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.costs__image {
  display: block;
  width: 280px;
  height: 256px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.costs__slider {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  width: 280px;
  height: 256px;
  --pos: 50%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / span 3;
    grid-column: 6 / span 1;
  }
}

.costs__slide {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  overflow: hidden;

  &--before {
    width: var(--pos);
    z-index: 2;
  }

  &--after {
    width: calc(100% - var(--pos));
    justify-self: end;
    z-index: 1;

    img {
      width: 100%;
      object-position: right center;
    }
  }
}

.costs__delimetr {
  position: absolute;
  top: 0;
  left: var(--pos);
  bottom: 0;
  transform: translateX(-50%);
  width: 4px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  z-index: 3;
  border-radius: 2px;
  background-color: #666666;
}

.costs__delimetr:hover {
  background-color: #68b738;
}

.costs__delimetr:active {
  background-color: #5eaa2f;
  opacity: 0.6;
}

.costs__delimetr-background {
  position: absolute;
  top: 106px;
  left: -18px;
  width: 40px;
  height: 40px;
  border: 2px solid #666666;
  border-radius: 50%;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    top: 240px;
    left: -18px;
  }
}

.costs__delimetr-background:hover {
  background-color: #ffffff;
  border: 2px solid #68b738;
}

.costs__delimetr-background:active {
  background-color: #ffffff;
  opacity: 0.6;
}

.costs__icon {
  position: absolute;
  top: 9px;
  left: 5px;
  width: 27px;
  height: 18px;
  color: #666666;
}

.costs__icon:hover {
  color: #68b738;
}

.costs__icon:active {
  color: #5eaa2f;
  opacity: 0.6;
}
