.experience {
  background-color: #eaeaea;
}

.experience__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  color: #000000;
  margin: 0;
  padding-top: 25px;
}

.experience__content {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: #444444;
  margin: 0;
  padding-top: 40px;
}

.experience__list__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.experience__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 95px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 34px;
  padding-bottom: 20px;

  // @media (min-width: $tablet-width) {
  //   justify-content: flex-start;
  //   max-width: 100%;
  //   text-align: left;
  //   color: #000000;
  // }
}

.experience__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

.costs__title,
.costs__content {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
