.experience {
  background-color: #eaeaea;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    background-image: linear-gradient(to top, #eaeaea 462px, transparent 462px);
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 10px;
  }
}

.experience__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  color: #000000;
  margin: 0;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 19px;
    font-size: 60px;
    line-height: 1;
  }
}

.experience__wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;

  @media (min-width: $desktop-width) {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 59px 42px;
  }
}

.experience__content {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: #444444;
  margin: 0;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 1.5;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 10px;
    max-width: 430px;
    grid-column: 1 / span 1;
  }
}

.experience__list-wrapper {
  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 67px;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto;
    grid-column: 1 / span 1;
    padding-bottom: 47px;
  }
}

.experience__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    padding-top: 16px;
    padding-bottom: 35px;
    gap: 46px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto auto;
    grid-column: 1 / span 1;
    padding-top: 17px;
    padding-bottom: 59px;
  }
}

.experience__item {
  width: 124px;
  padding: 14px 12px 0;
  border: 1px solid  #cdcdcd;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 160px;
    padding: 17px 20px 0;
  }
}

.experience__item-content {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.experience__item-caption {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: #444444;
  width: 70px;
  margin: 0;
  margin-bottom: -15px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 1;
    width: 130px;
    margin-bottom: -5px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}

.experience__footer {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto auto;
    grid-column: 1 / span 1;
    gap: 64px;
    align-items: start;
    justify-content: start;
  }
}
