.experience {
  background-color: #eaeaea;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    background-image: linear-gradient(to top, #eaeaea 462px, transparent 462px);
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 10px;
  }
}

.experience__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  color: #000000;
  margin: 0;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 19px;
    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 70px;
  }
}

.experience__wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;

  @media (min-width: $desktop-width) {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 59px 42px;
  }
}

.experience__content {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: #444444;
  margin: 0;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 1.5;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 430px;
    grid-column: 1 / span 1;
  }
}

.experience__list-wrapper {
  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 67px;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto;
    grid-column: 1 / span 1;
    padding-bottom: 47px;
  }
}

.experience__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    padding-top: 16px;
    padding-bottom: 35px;
    gap: 46px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto auto;
    grid-column: 1 / span 1;
    padding-top: 17px;
    padding-bottom: 59px;
  }
}

.experience__item {
  width: 124px;
  padding: 14px 12px 0;
  border: 1px solid  #cdcdcd;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 160px;
    padding: 17px 20px 0;
  }
}

.experience__item-content {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.experience__item-caption {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: #444444;
  width: 70px;
  margin: 0;
  margin-bottom: -15px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 1;
    width: 130px;
    margin-bottom: -5px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}

.experience__footer {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto auto;
    grid-column: 1 / span 1;
    gap: 64px;
    align-items: start;
    justify-content: start;
  }
}

.experience__footer-title,
.experience__footer-content {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.experience__image {
  display: block;
  width: 280px;
  height: 256px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.experience__slider {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  width: 280px;
  height: 256px;
  --pos: 50%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / span 3;
    grid-column: 6 / span 1;
  }
}

.experience__slide {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  overflow: hidden;

  &--before {
    width: var(--pos);
    z-index: 2;
  }

  &--after {
    width: calc(100% - var(--pos));
    justify-self: end;
    z-index: 1;

    img {
      width: 100%;
      object-position: right center;
    }
  }
}

.experience__delimetr {
  position: absolute;
  top: 0;
  left: var(--pos);
  bottom: 0;
  transform: translateX(-50%);
  width: 4px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  z-index: 3;
  border-radius: 2px;
  background-color: #666666;
  padding: 0;
  margin: 0;
  border: none;
}

.experience__delimetr:hover,
.experience__delimetr:focus {
  background-color: #68b738;
}

.experience__delimetr:active {
  background-color: #5eaa2f;
  opacity: 0.6;
}

.experience__delimetr-background {
  display: block;
  position: absolute;
  top: 106px;
  left: -18px;
  width: 40px;
  height: 40px;
  border: 2px solid #666666;
  border-radius: 50%;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    top: 240px;
    left: -18px;
  }
}

.experience__delimetr-background:hover {
  background-color: #ffffff;
  border: 2px solid #68b738;
}

.experience__delimetr-background:active {
  background-color: #ffffff;
  opacity: 0.6;
}

.experience__icon {
  position: absolute;
  top: 9px;
  left: 5px;
  width: 27px;
  height: 18px;
  color: #666666;
}

.experience__icon:hover {
  color: #68b738;
}

.experience__icon:active {
  color: #5eaa2f;
  opacity: 0.6;
}
