.instruction__list {
  display: grid;
  grid-template-columns: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto auto;
    gap: 37px 46px;
    margin: 0;
    padding: 0;
    counter-reset: cards;
    padding-bottom: 50px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto auto auto auto;
    gap: 37px 76px;
    padding-bottom: 40px;
  }
}

.instruction__item {
  list-style: none;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 100%;
    height: 280px;
  }
}

.instruction__item::before {
  @media (min-width: $tablet-width) {
    counter-increment: cards;
    content: counter(cards);
    position: absolute;
    bottom: 230px;
    right: 207px;
    width: 20px;
    height: 80px;
    padding: 10px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 280px;
    line-height: 1;
    text-align: center;
    color: #f2f2f2;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    right: 110px;
  }
}

.instruction__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    padding: 0;
    padding-top: 4px;
    padding-bottom: 38px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 39px;
    padding-bottom: 38px;
  }
}


.instruction__content {
  display: flex;
  gap: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: #444444;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  // margin: 20 0;

  @media (min-width: $tablet-width) {
    gap: 28px;
    margin-top: 31px;
    font-size: 16px;
    line-height: 1.5;
    flex-direction: column;
  }
}

.instruction__icon-background {
  display: block;
  background-image: url("../../icons/icon-green-square.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.instruction__icon {
  margin: 14 15;

  @media (min-width: $tablet-width) {
    margin: 23 24;
  }
}
