
.main-header {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  position: relative;

  // &--on-content {
  //   position: absolute;
  // }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 100%;

    // &--on-content {
    //   position: static;
    // }
  }
}
