.main-footer {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 147px;
    padding: 40px 0 18px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1300px;
    min-height: 169px;
    padding: 37px 81px 18px 0;
  }
}

.main-footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 18px;
  }
}

.main-footer__logo:hover {
  opacity: 0.8;
}

.main-footer__logo:active {
  opacity: 0.5;
}
