.map {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @media (min-width: $desktop-width) {
    padding-top: 106px;
    padding-left: 88px;
  }
}

.map__location {
  position: relative;
  height: 359px;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 399px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    height: 95px;
  }
}

.map__location-interactive {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  .no-js & {
    display: none;
  }
}

.map__location-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
}

.map__location-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.map__invitation {
  position: relative;
  z-index: 3;
  display: flex;
  margin: 0;
  padding: 26px 20px;
  background-color: #ffffff;
  gap: 0 27px;
  justify-content: space-between;

  &--gray {
    background-color: #f2f2f2;
  }

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 62px 71px 40px;
  }

  @media (min-width: $desktop-width) {
    gap: 84px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 60px;
    z-index: 3;
    width: 590px;

    &--white {
      background-color: #ffffff;
    }
  }
}

.map__invitation-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.3;
    text-transform: uppercase;
    max-width: 164px;
  }
}

.map__invitation-street,
.map__invitation-sity {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #444444;
  min-width: 150px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.25;
    text-align: right;
    max-width: 190px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    max-width: 190px;
    padding-bottom: 20px;
  }
}

.map iframe {
  display: block;
  border: none;
  width: 100%;
  z-index: 2;

  @media (min-width: $tablet-width) {
    height: 100%;
  }
}
