.navigation {
  display: flex;
  flex-direction: column;
  min-width: 279px;

  @media (min-width: $tablet-width) {
    min-width: 704px;
    justify-content: space-between;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    min-width: 1300px;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 110px;
    padding-top: 71px;
    padding-left: 90px;
    position: absolute;
  }
}

.navigation__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 13px;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $mobile-width) {
  .navigation__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (min-width: $tablet-width) {
  .navigation__list {
    display: flex;
    flex-direction: row;
    gap: 33px;
  }
}

.burger__button {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  display: none;
}

.navigation__burger__line {
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #000000;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 2s ease, opacity 2s ease;
}

// .navigation__wrapper__list {
//   position: fixed;
//   z-index: -1;
// }


.navigation__burger__line--top {
  transform: translate(-50%, calc(-50% - 7px));
}

.navigation__burger__line--bottom {
  transform: translate(-50%, calc(-50% + 7px));
}

.burger__button-open .navigation__burger__line--top {
  transform: translate(-50%, -50%) rotate(45deg);
}

.burger__button-open .navigation__burger__line--midble {
  opacity: 0;
}

.burger__button-open .navigation__burger__line--bottom {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.navigation__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
