.news {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 89px;
    padding-left: 39px;
  }
}

.news__inner {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-left: 33px;
    padding-right: 33px;
  }
}

.news__title {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-right: 50px;
  width: fit-content;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    font-size: 42px;
    line-height: 1;
    padding-bottom: 80px;
  }
}

.news__title::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 2px;
  background-color: #68b738;
  bottom: 11px;
  left: 100%;

  @media (min-width: $tablet-width) {
    bottom: 101px;
    right: 100%;
  }
}

.news__title::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 2px;
  background-color: #68b738;
  bottom: 11px;
  right: calc(100% + 50px);

  @media (min-width: $tablet-width) {
    bottom: 101px;
    right: 100%;
  }
}

.news__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 1.33;
  }
}

.news__form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $tablet-width) {
    gap: 0;
    flex-direction: row;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    margin-left: 200px;
    margin-right: 200px;
  }
}

.news__field {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  padding: 13px;
  min-width: 100%;
  height: 56px;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    min-width: 0;
  }
}

.news__field:hover {
  border: 1px solid #cdcdcd;
}

.news__button {
  height: 56px;
  margin: 0;
  padding: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 256px;
  }
}

.news__button:hover {
  background-color: #5eaa2f;
}

.news__button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
}

.news__button-text:hover {
  background-color: #5eaa2f;
}

.news__button-text:active {
  opacity: 0.3;
}
