.product-card {
  display: grid;
  grid-template-columns: 1fr auto;


  @media (min-width: $tablet-width) {
    grid-template-columns: 324px 1fr;
    height: 100%;
    padding-top: 81px;
  }

  &--show-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.product-card__inner {
  display: grid;
  min-width: 100%;
  min-height: 100%;
  padding: 0;
  grid-template-columns: 1fr 150px;
  gap: 10px;

  @media (min-width: $tablet-width) {
    min-width: 324px;
    min-height: 430px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
  }
}

.product-card__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: #444444;
  padding: 0;
  margin: 0;
}

.product-card__wrapper {
  padding: 0;
  margin: 0;
}

.product-card__name {
  display: flex;
  justify-content: flex-start;
  max-width: 80px;

  @media (min-width: $tablet-width) {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}

.product-card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 210px;
    margin-top: -81px;
  }
}

.product-card__list {
  padding: 0;
  margin: 0;
}

.product-card__item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  &--show-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.product-card__image {
  grid-row: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.product-card__number {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: #444444;
  padding: 0;
  margin: 0;
}

.product-card__button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  &--black {
    color: #000000;
  }
}

.product-card__button-link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  min-width: 100%;
  grid-column: 1 / -1;
}
