.product__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 42px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
    margin: 0;
    padding: 0;
    padding-top: 55px;
    padding-bottom: 94px;
    border-bottom: unset;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 95px;
  }
}

.product__list {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 46px 54px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 48px 77px;
  }
}

.product__item {
  border-bottom: 1px solid #cdcdcd;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    border-bottom: unset;
    padding-bottom: 0;
  }
}

.product__description {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: #444444;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.12;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    max-width: 185px;
  }
}

.product__name {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  padding: 0;
  padding-top: 75px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    padding-top: 49px;
    max-width: 150px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 34px;
  }
}

.product__name::after {
  content: "";
  position: absolute;
  border: 1px solid #d3d3d3;
  width: 30px;
  height: 0;
  top: 38px;
  left: 86px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 0;
    top: -32px;
    left: 45px;
  }

  @media (min-width: $desktop-width) {
    top: -35px;
    left: 46px;
  }
}

.product__name::before {
  content: "";
  position: absolute;
  border: 1px solid #d3d3d3;
  width: 30px;
  height: 0;
  top: 38px;
  left: 86px;
  transform: rotate(90deg);

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 0;
    top: -33px;
    left: 46px;
  }

  @media (min-width: $desktop-width) {
    top: -37px;
    left: 47px;
  }
}
