.programs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 280px;
  min-height: 266px;
}

.programs__item {
  background-color: #f2f2f2;
  list-style: none;
}

.programs__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
}

.programs__content {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: #444444;
  margin: 0;
  padding: 0;
}

.programs__link {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 0;
}
