.social {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 24px;
  margin: 0;
  padding-left: 0;
  padding-top: 24px;
  padding-bottom: 23px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border-top: unset;
    border-bottom: unset;
    padding-top: 6px;
    padding-bottom: 23px;
    padding-left: 34px;
  }
}

.social__link {
  color: currentColor;
}

.social__link:hover {
  color: #68b738;
}

.social__link:active {
  color: #68b738;
  opacity: 0.3;
}
